@import 'checkout';
body
{
	background-color:#F2F2F2;
	
	header
	{
		text-align:center;
	}
	section
	{
		width:1200px;

		margin: auto;
		background-color:#fff;
		padding:1em;
		
		@media only screen and (max-width:1200px)
		{
			width:100%;
		}
		@media only screen and (max-width:800px)
		{
			padding:0;
		}

		.area
		{
			display:flex;

			.left
			{
				
				//height:400px;
				width:580px;
				@media screen and(max-width:800px) {
					width:100%;
				}

				h3 
				{
					margin:0.3rem;
					border-bottom:1px solid #333;
					padding-bottom: 0.5em;
    				margin-bottom: 0.6em;
				}

				.arrows
				{
					float:right;
				    transform: translate(-22px, -40px);
				    
				    span.prev
				    {
				    	padding-left:1em;
				    }
				}

				.tabs-wrap
				{
					display: flex;
					flex-wrap: wrap;

					.state {
				      position: absolute;
				      left: -10000px;
				    }

					.tab
					{
			          max-height: 40px;
			          display: inline-block;
				      padding: 10px;
				      vertical-align: top;
				      background-color: #eee;
				      cursor: pointer;
				      border-left: 10px solid #ccc;
			        }

			        .panel {
				          background-color: #fff;
				          padding: 20px;
				          min-height: 300px;
				          display: none;
				          width: 100%;
				          flex-basis: auto;
				      }

			        #tab1:checked ~ .flex-tabs #tab1-label,
			        #tab2:checked ~ .flex-tabs #tab2-label,
			        #tab3:checked ~ .flex-tabs #tab3-label,
			        #tab4:checked ~ .flex-tabs #tab4-label,
			        #tab5:checked ~ .flex-tabs #tab5-label
			        {
			        	background-color: #fff;
    					cursor: default;
    					border-left-color: #69be28;
    					
			        }

			        #tab1:checked ~ .flex-tabs #tab1-panel,
			        #tab2:checked ~ .flex-tabs #tab2-panel,
			        #tab3:checked ~ .flex-tabs #tab3-panel,
			        #tab4:checked ~ .flex-tabs #tab4-panel,
			        #tab5:checked ~ .flex-tabs #tab5-panel
			        {
						display:block;
			        }
				}
			}
			.right
			{
				background: #ccc;
				width:580px;
				height:400px;

				@media screen and(max-width:800px) {
					display:none;
				}
			}
		}

	}
}
