/* checkout-bar */
.checkout-wrap {
  color: #444;
  font-family: sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
  margin-bottom: 8em;
}
@media screen and (max-width: 800px) {
  .checkout-wrap {
    margin-bottom: 1em;
  }
}
ul.checkout-bar {
  margin: 0 20px;
}
ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
@media only screen and (max-width: 800px) {
  ul.checkout-bar li {
    padding-left: 3em;
  }
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
@media only screen and (max-width: 800px) {
  ul.checkout-bar li:before {
    left: 0.2em;
  }
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar li:nth-child(7):before {
  content: "7";
}
ul.checkout-bar a {
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
ul.checkout-bar li.active a {
  color: #8bc53f;
}
ul.checkout-bar li.visited a {
  color: #57aed1;
}
@media all and (min-width: 800px) {
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }
  .checkout-bar li.active:last-of-type:after {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }
  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar.lastStep {
    background-color: #8bc53f;
  }
  ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
  }
  ul.checkout-bar li.width16 {
    width: 16%;
  }
  ul.checkout-bar li.width14 {
    width: 14%;
  }
  ul.checkout-bar li:before {
    height: 45px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #57aed1;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}
@media only screen and (max-width: 800px) {
  ul.checkout-bar {
    margin: 0;
    padding: 0;
  }
}
body {
  background-color: #F2F2F2;
}
body header {
  text-align: center;
}
body section {
  width: 1200px;
  min-height: 553px;
  margin: auto;
  background-color: #fff;
  padding: 1em;
}
@media only screen and (max-width: 1200px) {
  body section {
    width: 97%;
  }
}
@media only screen and (max-width: 800px) {
  body section {
    padding: 0;
    width: 100%;
  }
}
body section .area {
  display: flex;
  flex-wrap: wrap;
}
body section .area .left {
  width: 600px;
  margin-right: 1em;
}
@media screen and (max-width: 800px) {
  body section .area .left {
    width: 100%;
    margin-right: 0;
  }
}
body section .area .left h3,
body section .area .right .route_info h3 {
  margin: 0.3rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5em;
  margin-bottom: 0.6em;
}
body section .area .left .arrows {
  float: right;
  transform: translate(-5px, -40px);
}
body section .area .left .arrows span.prev {
  padding-right: 1em;
}
body section .area .left .tabs-wrap .state {
  position: absolute;
  left: -10000px;
}
body section .area .left .tabs-wrap .tab {
  max-height: 40px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  cursor: pointer;
  border-left: 2px solid #fff;
}
body section .area .left .tabs-wrap .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  flex-basis: auto;
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-label,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-label,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-label,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-label,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-label {
  background-color: #eee;
  cursor: default;
  border-left-color: #69be28;
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel {
  display: block;
  background: #eee;
}
@media screen and (max-width: 800px) {
  body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel,
  body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel,
  body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel,
  body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel,
  body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel {
    border: 1px solid #e0e0e0;
    border-top: 0;
  }
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .input_line label,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .input_line label,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .input_line label,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .input_line label,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .input_line label {
  display: inline-block;
  width: 140px;
  margin: 0.4rem 0;
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .input_line span.add,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .input_line span.add,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .input_line span.add,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .input_line span.add,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .input_line span.add {
  display: inline;
}
@media screen and (max-width: 600px) {
  body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .input_line span.add,
  body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .input_line span.add,
  body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .input_line span.add,
  body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .input_line span.add,
  body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .input_line span.add {
    display: block;
    padding: 0.5rem;
  }
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .radio_area,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .radio_area,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .radio_area,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .radio_area,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .radio_area {
  display: inline;
}
@media screen and (max-width: 400px) {
  body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .radio_area,
  body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .radio_area,
  body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .radio_area,
  body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .radio_area,
  body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .radio_area {
    display: block;
  }
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .radio_area label,
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .radio_area label,
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .radio_area label,
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .radio_area label,
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .radio_area label {
  display: inline;
  cursor: pointer;
}
body section .area .left .tabs-wrap #tab1:checked ~ .flex-tabs #tab1-panel .radio_area label[for="arrival_radio"],
body section .area .left .tabs-wrap #tab2:checked ~ .flex-tabs #tab2-panel .radio_area label[for="arrival_radio"],
body section .area .left .tabs-wrap #tab3:checked ~ .flex-tabs #tab3-panel .radio_area label[for="arrival_radio"],
body section .area .left .tabs-wrap #tab4:checked ~ .flex-tabs #tab4-panel .radio_area label[for="arrival_radio"],
body section .area .left .tabs-wrap #tab5:checked ~ .flex-tabs #tab5-panel .radio_area label[for="arrival_radio"] {
  padding-right: 1em;
}
body section .area .left .tabs-wrap #tab5-panel h4 {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 0.4rem;
  margin: 0.3rem 0;
}
body section .area .left .tabs-wrap #tab5-panel h4:nth-of-type(2) {
  margin-top: 1em;
}
body section .area .left .tabs-wrap .input-line label {
  display: inline-block;
  width: 140px;
  margin: 0.4rem 0;
}
body section .area .left .tabs-wrap .input-line .radio_area {
  display: inline;
}
body section .area .left .tabs-wrap .input-line .radio_area label {
  width: inherit;
  cursor: pointer;
}
body section .area .left .tabs-wrap .input-line .textarea-instructions {
  width: 167px;
  height: 85px;
}
body section .area .left .tabs-wrap .input-line .textarea-instructions + span {
  display: block;
  margin-left: 12.5rem;
  margin-top: 1em;
  font-size: 0.8rem;
}
@media only screen and (max-width: 360px) {
  body section .area .left .tabs-wrap .input-line .textarea-instructions + span {
    margin-left: 0;
  }
}
body section .area .left .tabs-wrap .car_list {
  display: flex;
  flex-wrap: wrap;
}
body section .area .left .tabs-wrap .car_list .item {
  width: 228px;
  height: 280px;
  border: 1px solid #eee;
  border-radius: 8px;
  position: relative;
  margin: 0.5rem;
}
body section .area .left .tabs-wrap .car_list .item img {
  width: 150px;
  margin: 4em auto 2em;
  display: block;
}
body section .area .left .tabs-wrap .car_list .item p {
  margin: 0;
  padding: 0;
  text-align: center;
}
body section .area .left .tabs-wrap .car_list .item p.passengers {
  padding-top: 1em;
  font-size: 0.8rem;
}
body section .area .left .tabs-wrap .car_list .item p.model {
  font-weight: bold;
}
body section .area .left .tabs-wrap .car_list .item p.price {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eee;
  width: calc(100% - 0.2rem);
  border-radius: 0 0 8px 8px;
  padding: 0.3rem 0 0.3rem 0.3rem;
  text-align: left;
}
body section .area .left .tabs-wrap .black-squares {
  display: flex;
  flex-wrap: wrap;
}
body section .area .left .tabs-wrap .black-squares .item {
  width: 228px;
  border: 1px solid #bbb;
  border-radius: 6px;
  display: flex;
  margin-right: 1em;
}
body section .area .left .tabs-wrap .black-squares .item .icon {
  background-color: #4e4e4e;
  width: 72px;
  position: relative;
}
body section .area .left .tabs-wrap .black-squares .item .icon img {
  position: absolute;
  left: 32%;
  top: 36%;
}
body section .area .left .tabs-wrap .black-squares .item .content {
  padding-left: 1em;
}
body section .area .left .tabs-wrap .black-squares .item .content p:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: bold;
}
body section .area .left .tabs-wrap .black-squares .item .content p:nth-of-type(2) {
  text-transform: uppercase;
}
body section .area .left .tabs-wrap .black-squares .item:nth-of-type(3) {
  margin-top: 1em;
}
body section .area .left .tabs-wrap .blue-squares {
  display: flex;
  flex-wrap: wrap;
}
body section .area .left .tabs-wrap .blue-squares .item {
  width: 346px;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 1em;
}
body section .area .left .tabs-wrap .blue-squares .item header {
  background-color: #21759b;
  color: #fff;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -1em;
  border-radius: 6px 6px 0 0;
  padding: 0.2rem;
  margin-bottom: 0.7rem;
}
body section .area .left .tabs-wrap .blue-squares .item table tr td:nth-of-type(1) {
  font-weight: bold;
}
body section .area .left .tabs-wrap .blue-squares .item table tr td:nth-of-type(2) {
  padding-left: 1em;
}
body section .area .left .tabs-wrap .blue-squares .item:nth-of-type(1) {
  margin-top: 1em;
}
body section .area .right {
  height: 400px;
  flex-grow: 1;
}
@media screen and (max-width: 800px) {
  body section .area .right {
    display: none;
  }
}
body section .area .right .route_info {
  background: #eee;
}
body section .area .right .route_info h3 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.2rem;
}
body section .area .right .route_info ul {
  columns: 2;
  padding: 1em;
}
body section .area .right .route_info ul li {
  list-style-type: none;
}
body section .area .right #map {
  height: calc(100% - 111px);
}
/*# sourceMappingURL=/assets/css/style.css.map */